//SPDX-FileCopyrightText:2022-2024 深圳市同心圆网络有限公司
//SPDX-License-Identifier: GPL-3.0-only

.agree_wrap {
    height: 30px;
    // border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    .icon {
        font-size: 24px;
    }
}